<div class="banner">
  <div class="container-home">
    <h1 class="home">Tripper</h1>

    <p class="home">Your ally for unique journeys</p>
      <%= link_to "Try it", new_trip_path, class: "home" %>

  </div>
</div>



<div class="voyage">
  <h4><i>"For unique journeys full of surprises, think Tripper, the ultimate intelligent travel planning companion"</i></h4>
</div>

<div class="explications">

  <div class="rea d-flex">
    <div class="photo1"></div>
    <div class="explain">
      <h4>No more preparation</h4>
      <p>You just need to fill in your arrival and departure dates and then indicate what you prefer to do when you are on vacation.</p>
      <a href="#" id="btn-go">Let's go</a>
    </div>
 </div>
 <div class="rea d-flex">
    <div class="explain ">
      <h4>New way of travel</h4>
      <p>You will no longer take much time to plan your trip and pass the plan on to your fellow travellers.</p>
      <a href="#" id="btn-go">Let's go</a>

    </div>
    <div class="photo2"></div>
 </div>
 <div class="rea d-flex">
    <div class="photo3"></div>
    <div class="explain">
      <h4>Surprise effect guaranteed</h4>
      <p>You have the possibility to keep secret a certain number of steps so that the surprise effect is guaranteed.</p>
      <a href="#" id="btn-go">Let's go</a>
    </div>
 </div>
</div>


</div>
