.mt-6{
  margin-top: 6vh;
}
.mt-7{
  margin-top: 7vh;
}
.mt-8{
  margin-top: 8vh;
}
.mt-10{
  margin-top: 10vh;
}
.mt-15{
  margin-top: 15vh;
}
.mb-5 {
  margin-bottom: 5vh;
}
.mb-6 {
  margin-bottom: 6vh;
}
.mb-8 {
  margin-bottom: 8vh;
}
.mb-10 {
  margin-bottom: 10vh;
}
.mb-15 {
  margin-bottom: 15vh;
}
.pt-6 {
  padding-top: 6vh;
}

.pt-5 {
  padding-top: 5vh;
}

.pb-8 {
  padding-bottom: 8vh;
}

.ml-6{
  margin-left: 6vw;
}
.mr-6{
  margin-right: 6vw;
}
