.trip-index-container h5{
  margin: 4em 0 3em 0;
}
.trip-index-container h2{
  font-weight: 500;
  color: #454D66;
  font-family: 'Raleway', ‘Montserrat’, sans-serif;
  font-size: 20px;
}
#index-pics > img{
  height: inherit;
  height: 30vh;
}
p.index-trip{
  background-color: rgba(40, 30, 234, 0.4);
  width: 50%;
  padding: 1.3vh;
  font-size: 1.1em !important;
  font-weight: 500;
  font-family: 'Raleway', ‘Montserrat’, sans-serif;
  letter-spacing: 0.2em;
}
.index-trip-bottom > p{
  font-weight:inherit;
  font-size: 15px;
}
.trip-index-container {
  margin: auto;
  width:50vw;
  margin-bottom: 8vh;
}
.trip-index-container a:hover {
  text-decoration: inherit;
  color:inherit;
  background-color: inherit;
  font-size: inherit;
  transition: inherit;
  border: inherit;
}

.trip-index-container a{
  color: inherit;
}
